{% extends "_temp/_blank_page_temp.twig" %}
{% block Content %}

    
    <div class="bigWrap">
        <div class="message-box success-box" id="top-success-message-box" style="display: none;">
            <h4>موفقیت!</h4>
            <hr>
            <div class="messages">

            </div>
        </div>
        <div class="message-box error-box" id="top-error-message-box" style="display: none;">
            <h4>خطا!</h4>
            <hr>
            <div class="messages">

            </div>
        </div>
        <section class="product-header clearfix">
            <div class="product-header-images-box">
                <div class="product-header-show-image">
                    <img src="http://myshopdemo.test/assets/cache/img/product/53828791-700x490.jpg" alt="Product Image">
                </div>
                <div class="product-header-images-thumbnail" style="direction: rtl">
                    <div class="product-header-image-thumbnail selected">
                        <img src="http://myshopdemo.test/assets/cache/cache/img/product/53828791-700x490-100x100.jpg" data-image-src="http://myshopdemo.test/assets/cache/img/product/53828791-700x490.jpg" alt="Product Thumbnail">
                    </div>
                    <div class="product-header-image-thumbnail ">
                        <img src="http://myshopdemo.test/assets/cache/cache/img/product/53828651-700x490-100x100.jpg" data-image-src="http://myshopdemo.test/assets/cache/img/product/53828651-700x490.jpg" alt="Product Thumbnail">
                    </div>
                </div>
            </div>
            <div class="product-header-information-box">
                <div class="product-title"> گوشی موبایل سامسونگ مدل Galaxy A7 2018 دو سیم‌کارت </div>
                <div class="product-manufacturer-category-box clearfix">
                    <div class="product-manufacturer">
                        نام تولیدکننده:
                        <a href="#" >سامسونگ</a>
                    </div>
                    <div class="product-category">
                        دسته بندی:
                        <a href="{{ URL }}category/{{ Product['category_id'] }}" >{{ Product['category_name'] }}</a>
                    </div>
                </div>
                <div class="product-rating">
                    <div class="rating-stars text-center" data-review-value="5">
                        <ul id="stars">
                            <li class="star selected" title="Poor" data-value="1">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                            <li class="star selected" title="Fair" data-value="2">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                            <li class="star selected" title="Good" data-value="3">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                            <li class="star selected" title="Excellent" data-value="4">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                            <li class="star selected" title="WOW!!!" data-value="5">
                                <i class="fa fa-star fa-fw"></i>
                            </li>
                        </ul>
                        <span class="rating-counter">
                            از 3 رای
                        </span>
                    </div>
                </div>
                <div class="product-status">
                    وضعیت محصول:
                    <span class="green">موجود</span>
                </div>
                <div class="product--price">
                    قیمت محصول:
                    <span class="old">4769000</span>
                    <span class="new">10000</span>
                    <span class="unit">تومان</span>

                </div>
                <div class="product-options">
                    <div class="product-option option-color" id="product-option-25">
                        <div class="product-option-title">
                            رنگ محصول:
                        </div>
                        <div class="product-option-items">
                            <div class="product-option-item" data-price-value="0" data-price-prefix="+" data-product-option-id="25" data-product-option-value-id="37">
                                <div class="product-option-item-image">
                                    <img src="http://myshopdemo.test/assets/img/option/yellow.jpg" alt="">
                                </div>
                                <div class="product-option-item-title">
                                    زرد
                                </div>
                            </div>
                            <div class="product-option-item" data-price-value="20000" data-price-prefix="+" data-product-option-id="25" data-product-option-value-id="38">
                                <div class="product-option-item-image">
                                    <img src="http://myshopdemo.test/assets/img/option/black.jpg" alt="">
                                </div>
                                <div class="product-option-item-title">
                                    سیاه
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-option " id="product-option-26">
                        <div class="product-option-title">
                            گارانتی:
                        </div>
                        <div class="product-option-items">
                            <div class="product-option-item" data-price-value="10000" data-price-prefix="+" data-product-option-id="26" data-product-option-value-id="39">
                                <div class="product-option-item-image">
                                    <img src="http://myshopdemo.test/assets/img/guarantee/avagang.png" alt="">
                                </div>
                                <div class="product-option-item-title">
                                    آواژنگ
                                </div>
                            </div>
                            <div class="product-option-item" data-price-value="5000" data-price-prefix="+" data-product-option-id="26" data-product-option-value-id="40">
                                <div class="product-option-item-image">
                                    <img src="http://myshopdemo.test/assets/img/guarantee/hami.png" alt="">
                                </div>
                                <div class="product-option-item-title">
                                    حامی
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
                <div class="product-add-to-cart">
                    <div id="addon-price">
                    </div>
                    <div>
                        <input type="number" id="product-quantity" class="product-quantity" value="1">
                    </div>
                    <div id="add-to-cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>
                             افزودن به سبد خرید
                        </span>
                    </div>
                </div>
            </div>

        </section>
        <section class="product-description">
            <div class="section-tittle" id="product-head-tab">
                <ul>
                    <li class="selected"><a href="#product-description" >نقد و بررسی</a></li>
                    <li><a href="#product-attributes" >مشخصات</a></li>
                    <li><a href="#product-reviews" >نظرات</a></li>
                </ul>
            </div>
            <div class="section-body" id="product-content-tab">
                <div id="product-description" class="active">
                    <p dir="rtl">اولین موردی که به چشم می خورد دوربین سه گانه (Galaxy A7 (2018 است که آن را برای عکاسی ایده ال می کند. سامسونگ گلسی ای 7 یکی از مدل هایی است که احتمالا به دلیل طراحی منحصر به فرد، نمایشگر و دوربین هایی که دارد نظرها را جلب خواهد کرد. از نظر قیمت هم می تواند با گوشی های دیگری چون POCO F1 ،Honor Play و Nokia 7 Plus رقابت کند که هر یک از آنها نکته مثبتی دارند برای مثال POCO F1 از قدرت باورنکردنی برخوردار بوده در حالی که Nokia 7 Plus از میان همه مواردی که گفته شد تجربه نرم افزاری بسیار خوبی را برای کاربران ارائه می دهد. این گوشی در میان موبایل های سامسونگ اولین و در برخی از بازارها بعد از گوشی هوآوی پی 20 پرو دومین موبایلی بوده که به دوربین سه گانه مجهز شده است. این دوربین ها شامل، سنسور 24 مگاپیکسلی با دیافراگم f/1.7 سنسور 8 مگاپیکسل به همراه لنزهای زاویه باز با دیافراگم f/2.4 و سنسور 5 مگاپیکسلی به همراه لنزهای فوکوس ثابت و دیافراگم f/2.2 هستند. نقطه برجسته در اینجا یک سنسور 8 مگاپیکسلی است به این دلیل که این دارای لنزهای فوق باز 13 میلی متری با زاویه دید 120 درجه است. در نگاه اول مشاهده می کنید که در ساخت آن، همان طراحی متداول سامسونگ به کار گرفته شده و مواد و طراحی و پرداختی که به کار رفته همانند موبایل سامسونگ گلکسی نوت 9 به نظر می رسد. این مدل همانند سامسونگ گلکسی ای 7 (2018) دارای فریم آلومنیومی با دو طرف منحنی نیست. پنل پشت شیشه ای آن دارای بازتاب های نوری است که با تغییر زاویه نور تغییر می کند. استفاده از شیشه در ساخت بدنه آن گرچه بسیار زیبا و ظریف به نظر می رسد اما به سرعت اثر انگشت را جذب می کند. زوایای آن به صورت منحنی طراحی شده تا راحت بتوان آن را در دست گرفت اما اندازه آن برای کار با یک دست کمی بزرگ است. این بار در طراحی آن تغییر بزرگی دیده می شود و آن قرار دادن سنسور اثر انگشت در دکمه پاور و قفل است. این مدل میزان روشنایی بالایی داشته در نتیجه در روشنایی زیاد و نور خورشید محتوای آن قابل دیدن بوده و هیچ گونه مشکلی نخواهند داشت. همچنین زاویه دید بسیار خوبی را هم داشته از این رو از همه زوایا محتوا به خوبی نمایش داده می شود.همان طور که در بالا اشاره شد ای 7 (2018) در دوربین عقب از سه لنز استفاده کرده است سنسور اولیه 24 مگاپیکسلی است که برای ثبت جزئیات بهتر از تکنولوژی pixel binning استفاده می کند. سنسور 5 مگاپیکسلی هم مسئول ثبت جزئیات مربوط به عمق در خلق حالت پرتره بوده در مقابل سنسور 8 مگاپیکسلی می تواند در حالت زاویه باز عکس برداری کند. دو عدد از این دوربین ها دقیقا همان کاری را انجام می دهند که دیگر دوربین های دوگانه هم انجام می دهد اما لنز سوم می تواند یک میدان دید 120 درجه را ارائه دهد در نتیجه قاب وسیع تری از یک تصویر ثبت می شود.دوربین واید از لنزهای فوکوس ثابت استفاده کرده است در نتیجه نمی تواند قسمتی از تصویر را انتخاب کند و یا یک بک گراند تار را به تصویر اضافه کند. این مشخصه تا زمانی که با نور طبیعی و یا نور کم سرو کار دارید مشکلی ایجاد نخواهد کرد اما زمانی که نیاز دارید که مقدار نور دهی تصویر را در حین عکس برداری و یا قبل از ثبت عکس کنترل کنید ممکن است کمی شما را با چالش روبه رو کند. یکی دیگر از محدودیت های این دوربین استفاده از دیافراگم f/2.4 است که توانایی سنسور زاویه باز برای جذب مقدار نور کافی جهت خلق تصاویر روشن تر در تاریکی را محدود می کند. زاویه باز 120 درجه سنسور فوق باز 8 مگاپیکسلی برای ثبت یک صحنه بدون پاناروما مناسب است. 8 مگاپیکسل به این معناست که بر خلاف لنز 24 مگاپیکسلی نمی توان تصاویر را زوم کرد. به طور کلی عملکرد دوربین آن نسبت به سایر مدل های میان رده موجود در بازار نقطه قوت آن به حساب می آید.ای 7-2018 در عملکردهای روزانه عالی ظاهر شده اما ممکن است در عملکردهای چند وظیفه ای به خوبی عملکرد پرچم داران نباشد. یکی از نسخه های آن همانند گوشی گلکسی ای 8 دارای رم 4 گیگابایتی است در حالی که نسخه دیگر آن با 6 گیگابایت رم هم در دسترس قرار گرفته است. از نظر حافظه داخلی هم دو نسخه 128 و 64 گیگابایتی از آن موجود شده اما نسخه 128 گیگابایتی هم با رم 4 و هم با رم 6 عرضه شده است. پردازنده در نظر گرفته شده برای آن (Exynos 7885 Octa (14 nm است که دارای چهار هسته بوده و هست های آن با حداکثر سرعت کلاک 2.2 گیگاهرتز عمل می کنند. پردازنده گرافیکی در نظر گرفته شده هم Mali-G71 است که به همراه صفحه نمایش آن توانسته است تجربه بی نظیری از مالتی مدیا را برای کاربران فراهم کند. به طور کلی باز شدن نرم افزارها در اینجا سریع بوده و از نظر بازی هم می توان گفت که بازی هایی چون Modern Combat 5 و Asphalt 9 را به خوبی اجرا می کند.نمایشگر بزرگ آن برای تماشای فیلم و ویدئو مناسب بوده و از بلندگوی بسیار خوبی هم برخوردار بوده که جهت پخش موسیقی در یک اتاق کوچک عملکرد بسیار خوبی دارد. همچنین یکی دیگر از آپشن های آن برخورداری از جک 3.5 میلی متری صدا است که به سادگی می توانید بدون نیاز به مبدل از هدفون های غیر بلوتوثی استفاده کنید. در کل کیفیت صدای رضایت بخشی داشته اما میزان بلندی صدای آن زیاد نیست. تنها یک اسپیکر داشته و فاقد صدای استریو است. علاوه بر این به این جهت این گوشی برای تماشای فیلم ایده ال است که از یک نمایشگر بزرگ برخوردار است. از طرفی دیگر طول عمر باتری آن هم قابل توجه بوده که می تواند به عنوان یک موبایل با ارزش جهت ارائه تجربه بی نظیری از مالتی مدیا در نظر گرفته شود. یکی دیگر از گزینه های خرید آن هم می تواند پشتیبانی از کارت حافظه microSD تا 256 گیگابایت باشد.سامسونگ گلکسی ای 7 (2018) با رابط کاربری Experience UI 9.5 بر پایه اندروید 8.0 اجرا می شود.</p>

                </div>
                <div id="product-attributes">
                    <table>
                        <tbody><tr class="group">
                            <td colspan="2">
                                مشخصات فیزیکی
                            </td>
                        </tr>
                        <tr>
                            <td>ابعاد</td>
                            <td> 159.8×76.8× 7.5 میلی‌متر </td>
                        </tr>
                        <tr>
                            <td>وزن</td>
                            <td> 168 گرم </td>
                        </tr>
                        <tr>
                            <td>تعداد سیم</td>
                            <td> دو سیم کارت </td>
                        </tr>


                        </tbody></table>
                </div>
                <div id="product-reviews">
                    <div class="review-form">
                        <div class="message-box success-box" id="success-message-box" style="display: none;">
                            <h4>موفقیت!</h4>
                            <hr>
                            <div class="messages">

                            </div>
                        </div>
                        <div class="message-box error-box" id="error-message-box" style="display: none;">
                            <h4>خطا!</h4>
                            <hr>
                            <div class="messages">

                            </div>
                        </div>
                        <div class="input-label clearfix">
                            <div class="label">
                                نام:
                            </div>
                            <div class="input">
                                <input type="text" id="product-comment-name" placeholder="نام">
                            </div>
                        </div>
                        <div class="input-label clearfix">
                            <div class="label">
                                نظر:
                            </div>
                            <div class="input">
                                <textarea id="product-comment-description" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="comment-rating" id="comment-rating">
                            <div class="rating-stars text-center">
                                <ul id="stars">
                                    <li class="star" title="Poor" data-value="1">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                    <li class="star" title="Fair" data-value="2">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                    <li class="star" title="Good" data-value="3">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                    <li class="star" title="Excellent" data-value="4">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                    <li class="star" title="WOW!!!" data-value="5">
                                        <i class="fa fa-star fa-fw"></i>
                                    </li>
                                </ul>
                                <span class="rating-counter">
                        </span>
                            </div>
                        </div>
                        <div class="input-label clearfix">
                            <div class="input">
                                <button id="add-review-btn" class="add-review-btn">ارسال</button>
                            </div>
                        </div>

                    </div>
                    <div class="reviews">
                        <div class="review">
                            <div class="review-author">
                                حسین شیره جونی
                            </div>
                            <div class="review-rate">
                                <div class="rating-stars text-center" data-review-value="5">
                                    <ul id="stars">
                                        <li class="star selected" title="Poor" data-value="1">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Fair" data-value="2">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Good" data-value="3">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Excellent" data-value="4">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="WOW!!!" data-value="5">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review-text">
                                محصول خیلی خوبی بود ممنون از فروشگاه من که سریع ارسال کردند
                            </div>
                        </div>

                        <div class="review">
                            <div class="review-author">
                                محمد
                            </div>
                            <div class="review-rate">
                                <div class="rating-stars text-center" data-review-value="5">
                                    <ul id="stars">
                                        <li class="star selected" title="Poor" data-value="1">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Fair" data-value="2">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Good" data-value="3">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Excellent" data-value="4">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="WOW!!!" data-value="5">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review-text">
                                خیلی خوب بود
                            </div>
                        </div>

                        <div class="review">
                            <div class="review-author">
                                حسین
                            </div>
                            <div class="review-rate">
                                <div class="rating-stars text-center" data-review-value="4">
                                    <ul id="stars">
                                        <li class="star selected" title="Poor" data-value="1">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Fair" data-value="2">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Good" data-value="3">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star selected" title="Excellent" data-value="4">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" title="WOW!!!" data-value="5">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review-text">
                                یک محصول خوب
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}